<%= render '/books/errors', model: @user %>

<h2>User Info</h2>
<%= form_for(@user) do |f| %>
  <p>Name</p>
  <%= f.text_field :name %>
  <p>Image</p>
  <%= f.attachment_field :image %>
  <p>Introduction</p>
  <%= f.text_area :introduction %>
  <%= f.submit 'Update user' %>
<% end %>