<div class="col-xs-offset-3 col-xs-6">

  <%= render '/books/errors', model: @user %>

  <h2>User Info</h2>
  <%= form_for(@user) do |f| %>
    <p>Name</p>
    <%= f.text_field :name, class: "name" %>
    <p>Image</p>
    <%= f.attachment_field :image class: "user_image"  %>
    <p>Introduction</p>
    <%= f.text_area :introduction class: "introduction"  %>
    <p class="row">
      <%= f.submit 'Update user', class: "btn btn-primary col-xs-12" %>
    </p>
  <% end %>

</div>