<div class="col-xs-3">
  <h2>User info</h2>
  <%= attachment_image_tag user, :image, :fill, 100, 100 %>
  <table class="table table-striped">
    <tr>
      <th>name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= user.introduction %></td>
    </tr>
  </table>
  <%= link_to(edit_user_path(current_user), class: "edit_user_#{current_user.id}" ) do %>
    <div class="row">
      <div class="btn btn-default col-xs-12">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </div>
    </div>
  <% end %>
  <h2>New Book</h2>
  <%= form_for(new_book) do |f| %>
    <p>Title</p>
    <%= f.text_field :title, class: "book_title" %>
    <p>Opinion</p>
    <%= f.text_area :body, class: "book_body" %>
    <p class="row">
      <%= f.submit 'Create book', class: "btn btn-primary col-xs-12" %>
    </p>
  <% end %>
</div>