<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
    <!-- ヘッダー部分-->
    <header class="clearfix">
      <nav>
        <h2>Bookers</h2>
        <div class="nav-menu-area clearfix">
          <% if user_signed_in? %>

          <p class="nav-menu">
            <%= link_to(user_path(current_user)) do %>
            <i class="fas fa-home"></i>
            Home
            <% end %>
          </p>
          <p class="nav-menu">
            <%= link_to(users_path) do %>
            <i class="fas fa-user-friends"></i>
            Users
            <% end %>
          </p>
          <p class="nav-menu">
            <%= link_to(books_path) do %>
            <i class="fas fa-book"></i>
            Books
            <% end %>
          </p>
          <p class="nav-menu">
            <%= link_to(destroy_user_session_path, method: :delete) do %>
            <i class="fas fa-sign-out-alt"></i>
            Logout
            <% end %>
          </p>

          <% else %>

          <p class="nav-menu">
            <%= link_to(root_path) do %>
            <i class="fas fa-home"></i>
            Home
            <% end %>
          </p>
          <p class="nav-menu">
            <%= link_to(about_path) do %>
            <i class="fas fa-link"></i>
            About
            <% end %>
          </p>
          <p class="nav-menu">
            <%= link_to(new_user_registration_path) do %>
            <i class="fas fa-user-plus"></i>
            Sign up
            <% end %>
          </p>
          <p class="nav-menu">
            <%= link_to(new_user_session_path) do %>
            <i class="fas fa-sign-in-alt"></i>
            Login
            <% end %>
          </p>

          <% end %>
        </div>
      </nav>
    </header>

    <!-- サクセスメッセージ -->
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>">
        <%= msg.html_safe %>
      </div>
    <% end %>

    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
